[run]
source = simulator
branch = False
omit =
    */migrations/*
    */tests/*
    */management/*
    */apps.py
    */admin.py

[report]
precision = 1
show_missing = True
skip_covered = False
fail_under = 75
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
