django-environ==0.13.0
Django==6.0.3
djangorestframework>=3.14.0
django-cors-headers>=4.0.0
whitenoise>=6.0.0
pandas>=2.0.0
openpyxl>=3.1.0
xlrd>=2.0.0
matplotlib
plotly
nbformat
arrow
reportlabpsycopg2-binary>=2.9.9
google-auth>=2.28.0
requests>=2.31.0
